@import url('projects.css');
@import url('navbar.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    scroll-behavior: smooth;
    font-size: 10px;
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

section {
    margin-block: 11rem;
}

.container {
    width: 90%;
    margin: auto;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: 2.5rem;
    line-height: inherit;
    text-transform: none;
    outline: 0;
    background: transparent;
    border: none;
    color: white;
    padding: 8px 0;
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
}

.title {
    font-weight: 700;
    font-size: 10rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgb(189, 180, 180);
    padding-block: 2.5rem;
}